In [1]:
import os
import re
import pickle
import pandas as pd
path = 'C:/Users/jmstf/CERTH-ITI/Slvanus-Treeads-GreekDataset/runs'

In [2]:
maxes = {}
n=10

for directory in os.listdir(path):
    if re.match(r'run\d{5}', directory) and len(directory)==8:
        filepath = path+'/'+directory+'/results.plk'
        with open(filepath, 'rb') as dummyvar:
            df = pickle.load(dummyvar)
        epochs = list(df['val_f1'].nlargest(n).index)
        keys = [directory+'-epoch'+str(x) for x in epochs]
        values = list(map(lambda x: round(df['val_f1'].loc[x],4),epochs))
        maxes.update({k: v for k, v in zip(keys, values)})

In [3]:
df = pd.DataFrame(list(maxes.items()), columns=['runepoch', 'val_f1'])
df_sorted = df.sort_values(by='val_f1',ascending=False).reset_index(drop = True)
df_sorted

              runepoch  val_f1
0    run00020-epoch942  0.8450
1    run00020-epoch996  0.8445
2    run00017-epoch187  0.8441
3    run00020-epoch931  0.8441
4    run00017-epoch190  0.8441
..                 ...     ...
205    run00015-epoch6  0.7664
206    run00015-epoch5  0.7633
207    run00015-epoch4  0.7590
208    run00015-epoch3  0.7558
209    run00015-epoch2  0.7489

[210 rows x 2 columns]

In [4]:
df_sorted.to_excel('C:/Users/jmstf/CERTH-ITI/Slvanus-Treeads-GreekDataset/runs/maxfinder.xlsx', index=False)